@import 'App';

.pointerCursor {
  cursor: pointer;
  float: right;
}

.ui-red {
  color: red;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ui-dropdown {
  margin-left: 20px;
  margin-right: 20px;
}

// FOR PURCHASE SUMMARY MODULE
.ui-container {
  min-width: 300px;
}

.ui-divider {
  max-width: 38%;
  margin-left: 0%;
}

.ui-pickup-savings {
  color: red
}

.ui-regular-price {
  color: darkgray;
}

.ui-hide {
  display: none;
}

/*
    Demo for this article:
    http://blustemy.io/tooltips-with-sass-mixins/
*/

@mixin tooltip(
  $tooltip-background-color: white,
  $tooltip-arrow-base: 2em,
  $tooltip-arrow-length: 1em,
  $tooltip-border-width: 0,
  $tooltip-border-color: transparent,
  $tooltip-transition-out-duration: .3s
) {
  // Sizing and positioning
  min-width: 300%;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 150%;
  margin-bottom: $tooltip-arrow-length;

  // Text and color properties.
  background-color: $tooltip-background-color;
  text-align: center;

  // Animated properties.
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, $tooltip-arrow-length);
  transition:
          visibility 0s linear $tooltip-transition-out-duration,
          opacity $tooltip-transition-out-duration ease-in 0s,
          transform $tooltip-transition-out-duration ease-in 0s;

  // Disable events.
  pointer-events: none;

  // Specific styles when the tooltip has a border
  @if $tooltip-border-width {
    border: $tooltip-border-width solid $tooltip-border-color;
  }
}

@mixin has-tooltip($tooltip-transition-in-duration: .3s) {
  position: relative;
  // Prevent the tooltip from being clipped by its container.
  overflow: visible;

  // Display the tooltip on hover and on focus.
  &:hover, &:focus {
    .tooltip {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, 0); // horizontally centered
      transition:
              visibility 0s linear 0s,
              opacity $tooltip-transition-in-duration ease-out 0s,
              transform $tooltip-transition-in-duration ease-out 0s;
    }
  }
}

a {
  color: black;
  text-decoration: underline;
}

.has-tooltip {
  @include has-tooltip($tooltip-transition-in-duration: .3s);
}

.tooltip {
  min-width: 10em;
  padding: .5em .75em;
  box-shadow: 0 .05em .15em rgba(black, .1);
}

.tooltip-with-border {
  @include tooltip(
          $tooltip-background-color: white,
          $tooltip-arrow-base: 1.5em,
          $tooltip-arrow-length: .75em,
          $tooltip-border-width: .05em,
          $tooltip-border-color: #999,
          $tooltip-transition-out-duration: .2s
  );
  color: #333;
}

.ui-text-input {
  border: 0.5px solid darkgray;
  border-radius: 3px;
}

.ui-btn {
  color: #000000;
  background-color: #FFFFFF;
  border-color: #000;
  border-radius: 10px;
  margin-left: 1%;
}

.ui-btn:hover,
.ui-btn:focus,
.ui-btn:active,
.ui-btn.active,
.open .dropdown-toggle.ui-btn {
  color: #000000;
  background-color: #58AEDF;
  border-color: #000;
}

.ui-btn:active,
.ui-btn.active,
.open .dropdown-toggle.ui-btn {
  background-image: none;
}

.ui-btn.disabled,
.ui-btn[disabled],
fieldset[disabled] .ui-btn,
.ui-btn.disabled:hover,
.ui-btn[disabled]:hover,
fieldset[disabled] .ui-btn:hover,
.ui-btn.disabled:focus,
.ui-btn[disabled]:focus,
fieldset[disabled] .ui-btn:focus,
.ui-btn.disabled:active,
.ui-btn[disabled]:active,
fieldset[disabled] .ui-btn:active,
.ui-btn.disabled.active,
.ui-btn[disabled].active,
fieldset[disabled] .ui-btn.active {
  background-color: #FFFFFF;
  border-color: #000;
}

.ui-btn .badge {
  color: #FFFFFF;
  background-color: #000000;
}
