.App {
  width: 90%;
  margin: auto; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

body {
  font: normal medium/1.4 sans-serif; }

table {
  border-collapse: collapse;
  width: 100%; }

th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc; }

tbody tr:nth-child(odd) {
  background: #eee; }

.ui-flex-box {
  display: flex; }

.pointerCursor {
  cursor: pointer;
  float: right; }

.ui-red {
  color: red; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.ui-dropdown {
  margin-left: 20px;
  margin-right: 20px; }

.ui-container {
  min-width: 300px; }

.ui-divider {
  max-width: 38%;
  margin-left: 0%; }

.ui-pickup-savings {
  color: red; }

.ui-regular-price {
  color: darkgray; }

.ui-hide {
  display: none; }

/*
    Demo for this article:
    http://blustemy.io/tooltips-with-sass-mixins/
*/
a {
  color: black;
  text-decoration: underline; }

.has-tooltip {
  position: relative;
  overflow: visible; }
  .has-tooltip:hover .tooltip, .has-tooltip:focus .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
    transition: visibility 0s linear 0s, opacity 0.3s ease-out 0s, transform 0.3s ease-out 0s; }

.tooltip {
  min-width: 10em;
  padding: .5em .75em;
  box-shadow: 0 0.05em 0.15em rgba(0, 0, 0, 0.1); }

.tooltip-with-border {
  min-width: 300%;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 150%;
  margin-bottom: 0.75em;
  background-color: white;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, 0.75em);
  transition: visibility 0s linear 0.2s, opacity 0.2s ease-in 0s, transform 0.2s ease-in 0s;
  pointer-events: none;
  border: 0.05em solid #999;
  color: #333; }

.ui-text-input {
  border: 0.5px solid darkgray;
  border-radius: 3px; }

.ui-btn {
  color: #000000;
  background-color: #FFFFFF;
  border-color: #000;
  border-radius: 10px;
  margin-left: 1%; }

.ui-btn:hover,
.ui-btn:focus,
.ui-btn:active,
.ui-btn.active,
.open .dropdown-toggle.ui-btn {
  color: #000000;
  background-color: #58AEDF;
  border-color: #000; }

.ui-btn:active,
.ui-btn.active,
.open .dropdown-toggle.ui-btn {
  background-image: none; }

.ui-btn.disabled,
.ui-btn[disabled],
fieldset[disabled] .ui-btn,
.ui-btn.disabled:hover,
.ui-btn[disabled]:hover,
fieldset[disabled] .ui-btn:hover,
.ui-btn.disabled:focus,
.ui-btn[disabled]:focus,
fieldset[disabled] .ui-btn:focus,
.ui-btn.disabled:active,
.ui-btn[disabled]:active,
fieldset[disabled] .ui-btn:active,
.ui-btn.disabled.active,
.ui-btn[disabled].active,
fieldset[disabled] .ui-btn.active {
  background-color: #FFFFFF;
  border-color: #000; }

.ui-btn .badge {
  color: #FFFFFF;
  background-color: #000000; }
